/*********************************************************************
*  Colors
*********************************************************************/



$color-white:			#ffffff;
$color-red:				#a93e42;
$color-light-red:		#e75458;
$color-green:			#02c663;
$color-dark-red:		#602728;
$color-black:			#000000;
$color-yellow:			#efeddf;
$color-grey:			#747474;
$color-light-grey:		#b1b1b1;



/*********************************************************************
*  Typography
*********************************************************************/

$base-font-size: 				16;
$base-line-height:  			16;

$base-font-family: 				'Open Sans', serif;
$base-title-font-family: 		'Open Sans', serif;
