<div class="row">
  <div class="col-md-12">
    <h2>Screencasts de Ruby criados por brasileiros para brasileiros. huehue</h2>
    <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.</p>
  </div>
</div>
<div class="row">
  <div class="content-buttons">
    <%= link_to "Entrar com GitHub",user_omniauth_authorize_path("github"), class: "bt-github" %>
    <%= link_to "Criar uma nova conta", new_user_registration_path, class: 'bt-register' %>
  </div>
</div>
