<div class="row">
  <div class="col-md-12">
    <h2>Screencasts de Ruby criados por brasileiros para brasileiros. huehue</h2>

    <p>RubyCasts Brasil é produzido pela comunidade brasileira de Ruby. É uma plataforma criada pela comunidade para a comunidade, de forma que todo o conteúdo seja produzido por qualquer pessoa, podendo assim contribuir com o conhecimento de iniciantes e reforçando técnias de pessoas mais experientes. Os screencasts são curtos e com foco específico, fazendo com que o aprendizado seja simples e rápido.</p>
  </div>
</div>
<div class="row">
  <div class="content-buttons">
    <%= link_to "Entrar com GitHub",user_github_omniauth_authorize_path("github"), class: "bt-github" %>
    <%= link_to "Criar uma nova conta", new_user_registration_path, class: 'bt-register' %>
  </div>
</div>
