<div class="sub-header">
  <div class="container">
    <div class="row">

      <h2 class="featured-page-title"><span>Screencasts</span> publicados</h2>
<!--       <div class="sub-menu">
        <a href="#">Mais curtidos</a>
        <a href="#">Data</a>
      </div>
      <div class="content-search">
        <form>
          <input type="text" placeholder="Buscar screencasts">
          <input type="submit">
        </form>
      </div> -->

    </div>
  </div>
</div>

<section class="screencasts-content-list clearfix">
  <div class="container">

    <%- @casts.screencasts_list.each do |cast| %>
      <div class="row screencast-item">
        <a href="#">
          <div class="content-screencast-image">
            <div class="image-hover"></div>
            <%= image_tag 'trash-video.jpg' %>
          </div>
          <span class="screencast-date">
            Adicionado em 23 de agosto de 2014
          </span>
          <h3><%= cast.name %></h3>
          <p>
            <%= cast.description %>
            <span class="time-count">
              Duração: 23 minutos
            </span>
          </p>
        </a>
      </div>
    <% end %>
  </div>
</section>
