// Login
.login-form-container {
	padding-top: 100px;
	margin-bottom: 100px;
	h3 {
		font-size: 20px;
		font-weight: 300;
		color: #7c7b6f;
	}
}
.box-default-register {
	border-right: $color-white 2px solid;
	padding: 30px;
}
.box-social-register {
	padding: 30px;
}
.login-header {
	height: 219px;
	background: url(image_path('login-header-bg.jpg')) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: $color-white 6px solid;
	position: relative;
	.header-cirle {
		width: 132px;
		height: 132px;
		border-radius: 50%;
		position: absolute;
		bottom: -62px;
		left: 50%;
		margin-left: -66px;
		background: $color-white url(image_path('login-icon.png')) no-repeat center;
		box-shadow: #999 1px 1px 4px;
	}
}

.box-social-register .bt-github {
	margin-top: 40px;
}
.devise-content .new_user {
	padding-top: 40px;
	input[type=email],input[type=text],input[type=password] {
		width: 100%;
		border: none;
		height: 60px;
		margin-bottom: 20px;
		padding-left: 5%;
		font-size: 14px;
	}
	.login-submit {
		background: #02c663;
		color: $color-white;
		padding: 6px 20px;
		border: none;
		border-radius: 4px;
		border-bottom: #3d875b 3px solid;
	}

}
.shared-links {
	line-height: 16px;
	a {
		color: #000;
		font-size: 14px;
	}
}
