// @import "bootstrap";
@import "../base/*";

.profile {
  background: $color-ice-white;
  padding-top: 35px;
  .panel {
    border: 1px solid #b3b1a5;
    border-radius: 0;
  }
  
  label {
    font-size: 20px;
    font-weight: lighter;
    color: $color-dark-grey;
  }
  .form-control {
    padding: 20px 26px;
    font-size: 20px;
    font-weight: lighter;
    height: auto;
    color: $color-dark-grey;
    background: $color-ice-grey;
    background-image: none;
    border: 1px solid #b3b1a5;
    border-radius: 0;
    box-shadow: inset 4px 4px 9px rgba(0, 0, 0, 0.08);
    transition: none;
  }

  .form-group {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .account-data {
    .panel-featured-block {
      background: #fff;
      @include clear-fix;
    }
  }

}

.panel-heading {
  padding: 0;
  border: none;
  margin: 0;
  h3 {
    background: $color-yellow;
    margin: 0;
    padding: 22px 20px;
    font-size: 20px;
    color: $color-dark-red-next;
    font-weight: bold;
  }
}
.personal-data {
  background: $color-yellow;
}
.panel-footer {
  padding: 24px;
  background: $color-white;
}
.profile-avatar {
  background: $color-white;
  padding: 20px;
  p {
    // padding-left: 30px;
    font-size: 20px;
  }
  img {
    border-radius: 4px;
    width: 100%;
  }
}

// .personal-footer {
//  background: #fff;
// }
// .profile-header {
//  background: #fdcc55;
//  min-height: 248px;
//  border-bottom: 20px $color-white solid;
// }
// .profile-wrapper {
//  // @include make-row();
//  color: $color-red;

//  .image-profile {
//    // @include make-lg-column(3);
//    position: relative;
//    img {
//      border: 10px solid $color-white;
//      position: absolute;
//      top: 58px;
//      left: 20px;
//      width: 260px;
//      height: 260px;
//      box-shadow: #000 3px 3px 23px;
//    }
//  }
//  .profile-infos {
//    // @include make-lg-column(9);
//    padding-top: 48px;
//    .profile-name {
//      padding: 0;
//      margin: 0;
//      font-size: 56px;
//      color: $color-red;
//      font-weight: bold;
//      float: left;
//    }
//    .edit-profile {
//      float: right;
//      color: $color-black;
//      text-decoration: underline;
//      font-size: 14px;
//      margin-top: 20px;
//    }
//    .profile-description {
//      display: block;
//      float: left;
//      color: $color-black;
//      font-size: 15px;
//      line-height: 19px;
//      padding-top: 10px;
//    }
//  }
// }


// .profile-screencast-list {
//  padding-top: 100px;
//  padding-bottom: 100px;
//  h2 {
//    font-size: 30px;
//    color: $color-red;
//    font-weight: bold;
//    margin: 10px 0 20px 20px;
//    padding: 0;
//  }
// }
