<div class="screencast-header container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to("Ver todos os screencasts", "#", class: "show-all") %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row featured-video-player">
    <div class="col-md-12">
      <iframe id="ytplayer" type="text/html" width="100%" height="550"
  src="http://www.youtube.com/embed/phT5ogtA1QU?autoplay=0&origin=http://example.com"
  frameborder="0"/></iframe>
    </div>
  </div>

  <div class="video-description row">
    <div class="col-md-12">
      <h2 class="title">Entendendo os tipos de variáveis em ruby</h2>
      <span class="time-info">Jun 16, 2014 | 12 minutes | Autor: <a href="#">Ivan Santos</a></span>
      <ul class="tags">
        <li><a href="#">Ruby</a>,</li>
        <li><a href="#">Iniciante</a>,</li>
        <li><a href="#">Básico</a></li>
      </ul>
    </div>
  </div>
  <div class="video-text row">
    <div class="col-md-12">
      <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.</p>
      <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.</p>
      <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.</p>
    </div>
  </div>
</div>
