/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 */

@import "base/variables";
@import "base/mixins";
@import "base/helpers";
@import "base/media-queries";
@import "ui/icons";

/*********************************************************************
*  Common Styles
*********************************************************************/
body {
	background: $color-yellow;
	font-family: $base-font-family;
	@include font-size(16 , 16);
	position: relative;

}

.general-wrapper {
	padding-top: 100px;
}

.alerts {
	position: absolute;
	color: black;
	z-index: 99999;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}
.alert {
	padding-top: 7px;
	padding-bottom: 7px;
	.close {
		top: -5px;
	}
}


/*********************************************************************
*  Header
*********************************************************************/

.header {
	min-height: 100px;
	background: $color-white;
	position: absolute;
	width: 100%;
	top:0;
	box-shadow: $color-black 1px 1px 10px;
	.logo {
		line-height: 90px;
	}
}

.menu {
		float: right;
		padding-left: 30px;
		height: 100px;
		margin-right: 60px;
	ul {
		list-style: none;
		padding: 0; margin: 0;
		float: right;
		li {
			display: inline-block;
			a {
				color: $color-red;
				@include font-size(22, 14);
				display: block;
				padding: 0 26px;
				height: 100%;
				line-height: 100px;
				&:hover {
					color: $color-dark-red;
					text-decoration: none;
				}
			}
			a:hover {
				background: $color-light-red;

				color: $color-white;
			}
		}
	}
}

.content_logo {
	float: left;
	padding-left: 30px;
}

.sign-in-box-header {
	float: right;
	// background: red;
}
/*********************************************************************
*  Profile Bar
*********************************************************************/

.content-profile-login-box {
	padding-top: 37px;
		padding-right: 160px;
	img {
		float: right;
		border-radius: 4px;
		margin-right: 10px;
	}
	.account-config {
		background: url(image_path('settings-icon.png')) no-repeat;
		width: 20px;
		height: 20px;
		float: right;
		text-indent: -9999px;
		margin-right: 10px;
	}
	.bt-logout {
		background: url(image_path('logout-icon.png')) no-repeat;
		width: 22px;
		height: 22px;
		float: right;
		text-indent: -9999px;
	}
		.bt-default {
			font-size: 12px;
			color: $color-white;
			float: right;
			padding: 6px 18px;
			line-height: 14px;
			background: $color-light-grey;
			border-radius: 6px;
			margin-right: 6px;
			text-decoration: none;
		}
		.bt-signup {
			background: $color-green;
		}
	.user-profile-name {
		font-size: 12px;
		color: #602728;
		float: right;
		padding-top: 4px;
		padding-right: 10px;
		line-height: 14px;
	}
}



/*********************************************************************
*  Register Section
*********************************************************************/

.register-home {
	background: url(image_path('bg-home-register.jpg')) center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	min-height: 706px;
	h2 {
		text-align: center;
		color: $color-white;
		@include font-size(90, 100);
		font-family: 'Helvetica Neue';
		font-weight: bold;
		padding: 0 20px;
		margin: 76px 0 60px 0;
		text-shadow: #000 1px 1px 8px;
	}
	p {
		@include font-size(30, 50);
		text-align: center;
		color: $color-white;
	}
}

.content-buttons {
	text-align: center;
	padding-top: 80px;
}

@mixin btn-home {
	display: inline-block;
	width: 520px;
	height: 118px;
	text-align: right;
	font-size: 30px;
	line-height: 118px;
	border-radius: 10px;
	font-weight: 800;
	&:hover {
		opacity: 0.97;
	}
}

.bt-github {
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
	background: $color-light-grey url(image_path('github-icon.png')) no-repeat center left;
	background-position: 40px 22px;
	color: $color-white;
	box-shadow: #7f7f7f 0px 5px 4px, #8a8a8a 0px 10px 1px;
	margin-right: 90px;
	padding-right: 60px;
	float: left;
	@include btn-home;

}

.bt-screencasts-list {
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
	background: $color-light-grey url(image_path('movies-icon.png')) no-repeat center left;
	background-position: 40px 12px;
	color: $color-white;
	padding-right: 140px;
	box-shadow: #7f7f7f 0px 5px 4px, #8a8a8a 0px 10px 1px;
	@include btn-home;
}

.bt-register {
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
	background: $color-green url(image_path('baby-icon.png')) no-repeat center left;
	background-position: 40px 22px;
	color: $color-white;
	padding-right: 40px;
	box-shadow: #00954a 0px 5px 4px, #00a250 0px 10px 1px;
	float: left;
	@include btn-home;
}

/*********************************************************************
*  Latests
*********************************************************************/


.featured {
	padding: 30px 0 75px 0;
	h2 {
		padding-left: 38px;
		margin-left: 30px;
		margin-bottom: 80px;
		font-weight: 300;
		font-size: 45px;
		color: $color-dark-red;
	}
}

.latest-home {
	background: url(image_path('cronometer-bg.png')) no-repeat left bottom;
	h2 {
		background: url(image_path('clock-icon.png')) no-repeat center left;
	}
}
.most-watched-home {
	background: #e5e3d3 url(image_path('most-watched-bg.png')) no-repeat right center;

	h2 {
		background: url(image_path('clock-icon.png')) no-repeat center left;
	}
}
.video-items {
	list-style: none;
	padding: 0;
	margin: 0;
}
.video-item {
	padding: 0 15px;
	margin: 0 0 20px 0;

	.image-box {
		border-radius: 2px;
		width: 255px;
		height: 150px;
		float: left;
		background: $color-red url(image_path('play-icon.png')) center no-repeat;
		margin-right: 14px;
		position: relative;
	}
	.image-hover {
		display: block;
		background: rgba(0, 0, 0, 0.2) url(image_path('play-icon.png')) center no-repeat;
		position: absolute;
		width: 255px;
		height: 150px;
	}
	.image-box:hover .image-hover {
		display: none;
	}
	.video-description {
		color: $color-dark-red;
		text-decoration: none;
	}
	h3 {
		margin: 0 0 8px 0;
		font-weight: bold;
		color: $color-dark-red;
		font-size: 22px;
	}
	p {
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}
}











/*********************************************************************
*  Footer
*********************************************************************/


.footer {
	height: 62px;
	overflow: hidden;
	.dedication {
		line-height: 62px;
		.rubycasts-with-love {
			padding-left: 10px;
			color: #602728;
			font-size: 14px;
		}
	}

	background: #efeddf;
}


.footer-menu {
	text-align: right;
	ul {
		line-height: 62px;
		list-style: none;
		li {
			display: inline-block;
			overflow: hidden;
			a {
				color: #602728;
				font-size: 14px;
				padding: 0 20px;
			}
			a.social-bt {
				// width: 29px;
				padding: 0;
				height: 29px;
				display: inline-block;
				margin: 0 4px;
			}
		}
	}
}




// social-facebook-icon.png










// Screencast List

.sub-header {
	height: 120px;
}

.screencasts-content-list {
	background: $color-white;
	padding: 62px 0;
}


.featured-page-title {
	font-size: 42px;
	font-weight: 300;
	background: url(image_path('list-outline-icon.png')) no-repeat left center;
	background-position: 10px 12px;
	padding-left: 50px;
	margin-top: 36px;
	display: block;
	span {
		color: $color-red;
	}
}

.screencast-item {
	padding: 30px 0;
	border-bottom: 1px solid $color-red;
	a {
		text-decoration: none;
	}
	.content-screencast-image {
		width: 255px;
		height: 150px;
		background: $color-red;
		float: left;
		margin-right: 20px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.image-hover {
		display: block;
		background: rgba(0, 0, 0, 0.2) url(image_path('play-icon.png')) center no-repeat;
		position: absolute;
		width: 255px;
		height: 150px;
	}
	.content-screencast-image:hover .image-hover {
		display: none;
	}
	.screencast-date {
		font-size: 14px;
		color: #747474;
		font-weight: bold;
	}
	h3 {
		padding: 10px 0 8px 0;
		margin: 0;
		font-size: 22px;
		font-weight: bold;
		color: $color-dark-red;
	}
	p {
		font-size: 12px;
		line-height: 14px;
		color: $color-black;
	}
	.time-count {
		font-weight: bold;
	}
}
