<h1>Casts#index</h1>

<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Nome</th>
        <th>Url</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
    <% @casts.each do |cast| %>
		<tr>
			<td><%= cast.name %></td>
			<td><%= cast.url %></td>
      <td>
      </td>
		</tr>
	<% end %>
	</tbody>
  </table>
</div>

